*{
    margin:0;
    padding: 0;

}
header{
    padding-top: 40px;
    background-color: #3f3f3f;
    min-height: 150px;
    text-align: center;

}
header h1{
    color: white;
    font-size: 60px;
}
p{
    padding-top: 10px;
    color: antiquewhite;
    font-size: 20px;
}
nav{
    background-color: #3f3f3f;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
}
nav a{
    padding: 10px;
    text-decoration: none;
    color: white;
}
nav a:hover{
    background-color: black;
    border-radius: 10px;
    border-color: black;
    border-width: 5px;
    color: white;
}
