*{
    margin:0;
    padding: 0;

}
header{
    padding-top: 40px;
    background-color: #3f3f3f;
    min-height: 150px;
    text-align: center;

}
header h1{
    color: white;
    font-size: 60px;
}
p{
    padding-top: 10px;
    color: antiquewhite;
    font-size: 20px;
}
nav{
    background-color: #3f3f3f;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
}
nav a{
    padding: 10px;
    text-decoration: none;
    color: white;
}
nav a:hover{
    background-color: black;
    border-radius: 10px;
    border-color: black;
    border-width: 5px;
    color: white;
}



/* slide */
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {
  display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  border-radius: 10px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  
}
.img img{
  width: 1000px;
  height: 450px;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}




/* Galeria */

